

$background-image: '/assets/img/flow.jpg';

/**
  Color Palette
*/
$color-dark-primary: #303F9F;
$color-primary: #3F51B5;
$color-light-primary: #C5CAE9;
$color-inverse-text-icons: #FFFFFF;
$color-accent: #03A9F4;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-divider: #BDBDBD;


// success action
$color-success-dark-primary: #388E3C;
$color-success-primary: #4CAF50;
$color-success-light-primary: #C8E6C9;
$color-success-accent: #8BC34A;


