<div class="playlist-summary grid">
  <div class="img-container">
    <img [src]="playlist.images[0].url">
  </div>
  <div class="playlist-summary grid grid-cell">

    <div class="grid-cell grid-gutters">
      <span>Playlist:</span>
      <span>{{playlist.name}}</span>
    </div>

    <div class="grid-cell grid-gutters">
      <span>Total Songs:</span>
      <span>{{playlist.tracks.total}}</span>
    </div>
    <div class="grid-cell grid-gutters">
      <span>Owner:</span>
      <span>{{playlist.owner.id}}</span>

    </div>
  </div>
</div>
