<div class="track-summary grid grid-justify-center" *ngIf="track && track.album">
  <div class="img-container">
    <img [src]="track.album.images[0].url">
  </div>
  <div class="track-details grid grid-cell">

    <div class="grid-cell grid-gutters">
      <span>Song:</span>
      <span>
        {{track.name}}
      </span>
    </div>

    <div class="grid-cell grid-gutters" *ngIf="track.album">
      <span>Album:</span>
      <span>
        <a routerLink="/album/{{track.album.id}}">{{track.album.name}}</a>
      </span>
    </div>
    <div class="grid-cell grid-gutters artists">
      <div class="grid-cell grid-gutters">Artist:</div>
      <ul class="grid-cell grid-gutters">
        <li *ngFor="let item of track.artists">
          <a routerLink="/artist/{{item.id}}">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
